

	body {
		background-color: black;
	}
		
	video {
		max-width: 1920px;
		max-height: 1080px;
	}

		h1 {
			  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
			text-align: center;
			font-size: 50px;
			width: 900px;
			color: white;
			}

		img {
			width: 600px;
			height: 650px;
			float: right;
			margin: -40px;
			margin-top: 100px;
		}
		p {
			 font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
			font-size: 40px;
			color: white;
		}

	#List {font-size: 60px
	}

	div {
		background-color: black;
		width: 900px;
		margin: 0 auto;

	} 

	ul {
		color: white ;
	text-align: center;
	font-size: 60px;
	 font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
	}